// FOOTER :: START

footer.footer
  .container
    .footer__row.footer__row-0
      .footer__col
        .logotype.logotype--footer
          include ../macros/_logotype

      .footer__col
        include ../macros/_social

    .footer__row.footer__row-1
      .footer__col
      .footer__col

    .footer__row.footer__row-2
      .footer__col
      .footer__col

    .footer__row.footer__row-3
      .footer__col
      .footer__col


      
// FOOTER :: END
