// FOOTER :: START

footer.footer
  .container
    .footer__row.footer__row-0
      .footer__col
        .logotype.logotype--footer.wow.wowFadeUp(data-animation-delay="0.3s")
          include ../macros/_logotype

      .footer__col
        include ../macros/_social

    .footer__row.footer__row-1
      .footer__col
        include ../macros/_partners

      .footer__col
        include ../macros/_payment

    .footer__row.footer__row-2
      .footer__col
        include ../macros/_warning

      .footer__col
        include ../macros/_license

    .footer__row.footer__row-3
      .footer__col
        include ../macros/_copyright

      .footer__col
        include ../macros/_by
      
// FOOTER :: END
