// HEADER :: START

header.header.is-fixed
  .container
    .header__wrap

      .logotype.logotype--header.wow.wowFadeDown
        include ../macros/_logotype

      .header__mobile.animated
        .header__row
          include ../macros/_menu

        .header__row
          include ../macros/_sign

      .header__hamburger.wow.wowFadeDown
        .hamburger(js-hamburger)
          -for(var i = 0; i < 1; i++)
            span

// HEADER :: END
