// HEADER :: START

header.header
  .container
    .header__wrap

      .logotype.logotype--header.wow.wowFadeDown(data-animation-delay="0.3s")
        include ../macros/_logotype

      .header__mobile.animated
        .header__row
          include ../macros/_menu

        .header__row
          include ../macros/_sign

      .header__hamburger.wow.wowFadeDown(data-animation-delay="0.3s")
        .hamburger(js-hamburger)
          -for(var i = 0; i < 6; i++)
            span

// HEADER :: END
