// ACCOUNT OPENING, FUNDING AND WITHDRAWALS :: START

mixin infoCollapse(title, text)
  .info__collapse
    .info__collapse-header(collapse-js)
      p.info__collapse-title!= title
      i.icon.icon-accordion-arrow

    .info__collapse-body
      p.info__collapse-text!= text


.info
  .container

    h2.info__title.title!= "ACCOUNT OPENING, FUNDING AND WITHDRAWALS"

    .info__row

      +infoCollapse("How long does it take to open an account?", "If you have the correct supporting documents, we will open your account in one day.")
      +infoCollapse("Are my personal details secured?", "All your personal information is fully protected by an SSL certificate and is saved on a secured server.")
      +infoCollapse("What documents are needed to verify my account?", "<strong>PRIVATE ENTITIES</strong> </br></br>Proof of identity in the form of a government issued ID book, ID card, passport or driver’s licence. Please provide copies of both the front and back of the document, showing your full name, date of birth, issue and date of expiry with your photograph. We require proof of residence, either via a utility bill or a bank statement. Please note that these must have been issued within the past three months, indicating your name, detailed residential address and date of issue. Please note that PO boxes are not accepted. </br></br><strong>BUSINESS ENTITIES</strong> </br></br>We require CK documents listing all directors/members of the applicable business, and proof of their identities. Acceptable documents include government issued ID books/cards, passports or drivers licences. The back and front of these documents must be furnished, indicating the name, date of birth, issue and expiry dates with clear photographs. IFX Brokers further requires a bank statement of the corporate bank account within the past three months. For the form concerning minutes of the board of directors/members minutes, please contact accounts@ifxbrokers.com, and this document will be sent to you.")
      +infoCollapse("How do I submit my compliance documents?", "These may be submitted via email to backoffice@ifxbrokers.com.")
      +infoCollapse("Can I transfer money between trading accounts?", "Yes, you can transfer money between trading accounts with the same owner. Send an email to <a href='mailto:backoffice@ifxbrokers.com'>backoffice@ifxbrokers.com</a>, specifying the trading accounts you wish to use for transfers and the amount. Please note: you may not transfer funds between owners, even if these are relatives or business associates.")
      +infoCollapse("Can I appoint someone to trade on my behalf through a power of attorney?", "Yes. You need to open an account first. Once your account is opened, you can complete a power of attorney form enabling a third party to access your account.")
      +infoCollapse("What currencies can I use to fund my IFX Brokers account?", "We accept deposits in the following currencies: USD, GBP, CHF, EUR, PLN, AUD, JPY and ZAR.")
      +infoCollapse("What methods can I use to deposit funds into my IFX Brokers account?", "Point to blocks under online trading.")
      +infoCollapse("Can I fund my account using Bitcoin?", "Yes, however this option is only available via Skrill.  Fund your Skrill walleting using Bitcoin and use this payment gateway to fund your IFX Brokers account.")
      +infoCollapse("Does IFX buy Mandela Coins?", "IFX Brokers does not accept Mandela coins as a payment method as it is not an authorised instrument by the FSB.  Clients can cash this is at their bank and then fund their account via any one of our approved funding methods.")
      +infoCollapse("What reference must I use when a make a deposit?", "Please use your IFX MT4 account number as reference number when making a deposit.  Should your IFX MT4 number not be known or active, please user your full name and surname.  Proof of payments can be sent to backoffice@ifxbrokers.com")
      +infoCollapse("How long does it take for my funds to be deposited into my IFX Brokers account?", "A bank transfer requires between three and five working days, depending on your bank. All other payments are effected in approximately 10 minutes.")
      +infoCollapse("Are my funds safe with IFX Brokers?", "You can rest easy when you trade with IFX Brokers. Client funds are kept separate in a segregated account and monitored daily by our 3rd party auditor.  In additional IFX Brokers also have fidelity and professional indemnity insurance to give our clients additional piece of mind.")
      +infoCollapse("How do I withdraw funds?", "Our general policy for deposits and withdrawals is that you execute withdrawals by the same method as the original funding of the account. Given the variety of funding methods available, the client’s withdrawal options are influenced by his / her deposit history and the most recent funding method used. To check what withdrawal methods are available to you, please access the Secure Client Area and click on ‘Deposits’, then click ‘Withdraw’. Your withdrawal methods will be displayed on this page.")
      +infoCollapse("How long does it take to process my withdrawal request?", "All withdrawal requests are processed by our Accounting Department within 24 hours. The time required for the transfer of funds varies, however, since it is dependent on your payment method. Although bank transfers are routinely processed within a day, it may take between three and five days to be credited to your account. Please note that it may take 10 working days for your funds to process back through the banks to your card. Under normal circumstances, credit / debit card withdrawals are also processed within one working day. Please be aware that it will take between five and seven days for the funds to be credited to your account. All other payment methods are processed within one working day.")
      +infoCollapse("What should I do if U have not received my withdrawal?", "For bank transfer withdrawals that have not been effected after five working days of making a withdrawal request, kindly contact our Accounts Department at <a href='mailto:accounts@ifxbrokers.com'>accounts@ifxbrokers.com</a> For withdrawals via credit/debit card that have not been effected after 10 working days of the withdrawal request, please send a copy of your card statement to accounts@ifxbrokers.com and we will contact the card processing company to investigate the delay immediately.")
      +infoCollapse("Have you received my withdrawal request?", "You will be notified with an automated email that your request was received. The status of your withdrawal request is displayed in the ‘Trading History’ area of your Secured Client Area.   Once completed, you will be notified by email.")
      +infoCollapse("How can I withdraw funds if the card I used to deposit funds has been cancelled?", "After the cancellation of a card, banks are obliged to allow limited transaction types to take place, including refunds. Please note: we transfer funds to your card as a refund of previous deposits. You should therefore withdraw funds to the card you used to deposit, even if this card has been cancelled. You can expect to receive these funds to your new card, connected to the same account as the previous, cancelled card.")
      +infoCollapse("How can I withdraw funds if I have lost the card that I used to deposit funds?", "If you have lost the card that you used to deposit funds and the account to which the card was connected is still active, you should make a withdrawal request using the old card number so that the funds can be transferred to your card/checking account.  If, however, the bank account that your card was connected to has been closed, you should send an official letter to <a href='mailto:accounts@ifxbrokers.com'>accounts@ifxbrokers.com</a>, stating that the account to which your card was connected has been closed. Following certain procedures, you will be able to withdraw funds using a different payment method.")


// ACCOUNT OPENING, FUNDING AND WITHDRAWALS :: END