// THE DIFFERENCE BETWEEN PIPS & PIPSQUEAKS :: START

mixin infoCollapse(delayT, title, text)
  .info__collapse.wow.wowFadeUp(data-animation-delay!= delayT + "s")
    .info__collapse-header(collapse-js)
      p.info__collapse-title!= title
      i.icon.icon-accordion-arrow

    .info__collapse-body
      p.info__collapse-text!= text


.info
  .container

    h2.info__title.title.wow.wowFadeUp(data-animation-delay="0.5s")!= "THE DIFFERENCE BETWEEN PIPS AND PIPSQUEAKS"

    .info__row

      +infoCollapse("0.525", "How much does IFX Brokers charge for training?", "As a value-added services IFX Brokers offer complimentary access to the Forex Training for Professionals Course to all LIVE funded accounts held with IFX Brokers.")
      +infoCollapse("0.55", "What will I learn?", "Courses and modules have been designed by International Forex traders with decades of experience.  The course consist s of 3 Levels with a total of 15 modules. </br></br> GETTING STARTED</br> Module 1 – Introduction to the Forex Market</br> Module 2 – The Mental Element</br> Module 3 – Roadmap to Success</br> Module 4 – Trading Ways and Means</br> Module 5 – Key Players in the Financial Game </br></br> INTERMEDIATE</br> Module 6 – How to avoid costly trading mistakes</br>  Module 7 – Head & Shoulders</br>  Module 8 – The Ultimate Traders Toolbox</br>  Module 9 – Mechanics of convergences and divergences</br> Module 10 – Trends and Trendlines </br></br> ADVANCED</br> Module 11 – The Fibonacci Science</br> Module 12 – Consolidation and Fundamental analysis</br> Module 13 – Japanese Candlesticks</br> Module 14 – Pattern Formations</br> Module 15 – Trending or Trading")
      +infoCollapse("0.575", "How do I receive my training material?", "Since you’ll be referring to it time and time again you will have full access to study material in a customized portal linked directly to your secured client area.  Your course material is packed with examples, explanations, a glossary and interactive assignments.")
      +infoCollapse("0.6", "Do I have to attend classes?", "No.  Since the course material and assignments are electronically delivered to you, you decide the pace at which you want to complete your modules. Obviously, every student has a unique life situation with its own commitments and challenges. It’s a good strategy to work out how much free time you have and how much you can reasonably spend on your course.")
      +infoCollapse("0.625", "Can I enrol for training without a LIVE account?", "No.  The IFX Academy is an exclusive value-added service to IFX Live funded account holders.")
      +infoCollapse("0.65", "Can I purchase printed Training Guides?", "Should you want to purchase a printed hard cover set of manuals you can purchase this directly from IFX Academy with your MT4 account number as reference.")
      +infoCollapse("0.675", "What happens if I lose money and have a zero balance in my trading account.  Will I still be able to access IFX Academy?", "Yes. You will still be able to access IFX Academy for 30 days, thereafter, access will be reinstated immediately if funds reflect on your live account.")
      +infoCollapse("0.7", "Does IFX Academy offer ongoing training?", "Yes. The IFX Academy is an interactive portal and new material is constantly added to your advantage.")

// THE DIFFERENCE BETWEEN PIPS & PIPSQUEAKS :: END