// DON’T HESITATE - COLLABORATE :: START

mixin infoCollapse(delayT, title, text)
  .info__collapse.wow.wowFadeUp(data-animation-delay!= delayT + "s")
    .info__collapse-header(collapse-js)
      p.info__collapse-title!= title
      i.icon.icon-accordion-arrow

    .info__collapse-body
      p.info__collapse-text!= text


.info
  .container

    h2.info__title.title.wow.wowFadeUp(data-animation-delay="0.5s")!= "DON’T HESITATE - COLLABORATE"

    .info__row

      +infoCollapse("0.525", "What is an Introducing Broker?", "An Introducing Broker(IB) is essentially an agent who introduces new customers to a forex brokerage. In return for sending customers to a brokerage, the Introducing Broker receives a fee. In the case of forex, this usually involves a share of the spread or commission charged by the brokerage.")
      +infoCollapse("0.55", "How does an Introducing Broker make money?", "Introducing Brokers make rebates on their clients’ trades.")
      +infoCollapse("0.575", "Why do Professionals become Introducing brokers?", "Most IBs have some interest in forex but they may not have the resources or experience necessary to succeed as traders. For this reason, they concentrate on their strengths, including their valuable contacts in the financial sector and excellent networking skills. They have the time and inclination to recruit new traders.")
      +infoCollapse("0.6", "What marketing material do you offer to Introducing Brokers?", "Our Partners have easy access to a wealth of business information directly from your secured IB portal. We offer practical support through a diverse range of tried-and-tested marketing tools designed to attract new clients.")
      +infoCollapse("0.625", "When do IB’s get paid?", "Introducing Brokers get paid once a month on trading volumes for the current month. Payment is executed by the 7th of the following month.")
      +infoCollapse("0.65", "How will I get paid ?", "Rebate payments are conveniently either to your personal bank account or credited directly to your trading account, which gives you the flexibility of withdrawing as and when required.")
      +infoCollapse("0.675", "Can I change my method of payment?", "Yes, you can by sending a written, signed request to <a href='mailto:partners@ifxbrokers.com'>partners@ifxbrokers.com</a> ")

// DON’T HESITATE - COLLABORATE :: END