// MAIN TRADING HOURS :: START

.main#main
  .container

    .main__bg

    .container.container--small
      h1.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Partnership"
      p.main__subtitle.title.wow.wowFadeUp(data-animation-delay="0.4s")!= "Why wouldn’t you partner with a </br>global leader in forex and CFD?"
      p.main__text.text.wow.wowFadeUp(data-animation-delay="0.5s")!= "Like any family, the IFX one is diverse. Our clients range from educators and forex specialists to affiliates networks (those distant cousins), email marketing fundis, social media and digital marketing experts. Our collaborative opportunities are legendary – and we prove it through tangible rewards. All are welcome to join the IFX Partnership Program."

// MAIN TRADING HOURS :: END