// MAIN TRADING HOURS :: START

.main
  .container

    .main__bg

    .container.container--small#theifxacademy
      h1.main__title!= "THE IFX </br>ACADEMY"
      p.main__subtitle.title!= "How do you access decades of </br>experience and knowledge? </br>Simple. You learn from the best."

      a(href="#" class="main__btn" title="")!= "START LEARNING"

// MAIN TRADING HOURS :: END