// CONTACT US :: START

.main#main

  .container
    h1.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Want To Talk To </br>A Real Person?"
    p.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Yes, actually we are real flesh-and-blood people! Call, fax or email us and we’ll get back to you as soon as is humanly possible."

    .main__circle.wow.wowFadeUp(data-animation-delay="0.7s")
      i.icon.icon-phone.animated

// CONTACT US :: END