// MAIN TRADING HOURS :: START

.main
  .container

    .main__bg.wow.wowFadeUp(data-animation-delay="0.4s")

    .container.container--small#theifxacademy
      h1.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "THE IFX </br>ACADEMY"
      p.main__subtitle.title.wow.wowFadeUp(data-animation-delay="0.4s")!= "How do you access decades of </br>experience and knowledge? </br>Simple. You learn from the best."

      a.wow.wowFadeUp(data-animation-delay="0.5s" href="#" class="main__btn" title="")!= "START LEARNING"

// MAIN TRADING HOURS :: END