// Getting Down to Business :: START

.main
  .container

    .main__bg

    .container.container--small
      h1.main__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Getting Down </br>to Business"
      p.main__subtitle.subtitle.wow.wowFadeUp(data-animation-delay="0.4s")!= "Our products literally cater for any and all trading requirements, so you access the opportunities that are best for you."

// Getting Down to Business :: END