// ECONOMIC CALENDAR :: START

.main
  .container

    h2.main__title.title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Economic Calendar"

    .main__row.wow.wowFadeUp(data-animation-delay="0.45s")
      #economicCalendarWidget

// ECONOMIC CALENDAR :: END
