// MODAL :: START

#modalDirectors.modal.mfp-hide.mfp-with-anim
  .modal__body

    .modal__body-top
      .modal__body-left
        img(img)
      .modal__body-right
        p(name)
        p(position)

    .modal__body-bottom
      p(desc)

// MODAL :: END
