// OUR PARTNERS :: START

.partners
  .container

    h2.partners__title.title!= "Our Partners"
    p.partners__subtitle.subtitle!= "We support excellence, the power is in your hands"
    p.partners__text.text!= "Like any family, the IFX one is diverse.  Our clients range from educators and forex specialists to affiliate networks (those distant cousins), email marketing fundi’s, social media and digital marketing experts.  Our collaborative opportunities are legendary – and we prove it through tangible rewards."

// OUR PARTNERS :: END