// OUR TRANSPARENCY :: START

.transparency
  .container

    .transparency__row
      .transparency__row-left
        .transparency__circle
          i.icon.icon-blockquote

      .transparency__row-right
        p.transparency__title!= "Our Transparency"
        p.transparency__text!= "We take pride in being at the forefront of industry reform and driving transparency as a proof of the full alignment of interest between IFX and its clients."

// OUR TRANSPARENCY :: END