// OUR TRANSPARENCY :: START

.transparency#ourtransparency
  .container

    .transparency__row
      .transparency__row-left
        .transparency__circle.wow.wowFadeUp(data-animation-delay="0.3s")
          i.icon.icon-blockquote

      .transparency__row-right
        p.transparency__title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Our Transparency"
        p.transparency__text.wow.wowFadeUp(data-animation-delay="0.4s")!= "We take pride in being at the forefront of industry reform and driving transparency as a proof of the full alignment of interest between IFX and its clients."

// OUR TRANSPARENCY :: END