// SERVICE :: START

.service
  .container

    .service__cover

      p.service__cover-title!= "Client Service Suite:"

      a.service__cover-phone.title(href="tel:+27422930473" class="" title="")!= "+27 42 293 0473"
      a.service__cover-phone.title(href="tel:+27422930475" class="" title="")!= "+27 42 293 0475"

// SERVICE :: END
