// SERVICE :: START

.service
  .container

    .service__cover

      p.service__cover-title.wow.wowFadeUp(data-animation-delay="0.3s")!= "Client Service Suite:"

      a.service__cover-phone.title.wow.wowFadeUp(data-animation-delay="0.4s" href="tel:+27422930473" class="" title="")!= "+27 42 293 0473"
      a.service__cover-phone.title.wow.wowFadeUp(data-animation-delay="0.4s" href="tel:+27422930475" class="" title="")!= "+27 42 293 0475"

// SERVICE :: END
