---
title: Home
bodyClass: home
---
extends shared/_layout
block content

  include ./components/_home-slide-1
  include ./components/_home-slide-2
  include ./components/_home-slide-3
  include ./components/_home-slide-4
  include ./components/_home-slide-5
