---
title: Online Trading
bodyClass: onlineTrading
---
extends shared/_layout
block content

  include ./components/_mainOnlineTrading
  include ./components/_tradingPlatforms
  include ./components/_payment
