---
title: Info Centre - The Small Print
bodyClass: smallPrint
dataBody: smallPrint
---
extends shared/_layout
block content

  include ./components/_navigation
  include ./components/_infoSmallPrint
