---
title: Trading Tools
bodyClass: tradingTools
dataBody: tradingTools
---
extends shared/_layout
block content

  include ./components/_mainTradingTools
  include ./components/_drivers
  include ./components/_autochartist
  include ./components/_use
