include _mixins

doctype html
html.is-hideScroll(lang="en")
  head
    include _head

  body.animated.is-hideScroll.is-hidden(
    class=bodyClass
    data-body= dataBody
  )

    block loader
      include ../macros/_loader

    //block grid
    //  include ../macros/_grid

    #barba-wrapper
      if(bodyClass !== "login")
      else if(bodyClass !== "register")
      else
        block header
          include ../components/_header
    
      .page(class=outClass)
        .page__content
          block content

      if(bodyClass !== "login")
      else if(bodyClass !== "register")
      else
        block footer
          include ../components/_footer
          
      block scripts
        include _scripts
