// AUTOCHARTIST
// ===============
.autochartist
  +rmin(320)
    padding-top: 45px
    padding-bottom: 50px
  +rmin(768)
    padding-top: 90px
    padding-bottom: 101px


  // TITLE
  &__title
    padding-bottom: 90px
  // \ TITLE


  // ROW
  &__row
    display: flex
    flex-wrap: wrap
  // \ROW


  // BLOCK
  &__block
    display: flex
    width: 50%
    padding-right: 100px
    margin-bottom: 60px

    &-left
      width: 100px

    &-right
      width: calc(100% - 100px)
      font-family: "SFUIText", "Arial", sans-serif

    &-title,
    &-text
      font-size: 18px

    &-title
      padding-bottom: 10px
      font-weight: bold

    &-text
      line-height: 1.5
// \ BLOCK
// ===============