// COPYRIGHT
// ===============
.copyright
  display: flex
  align-items: center
  padding-bottom: 60px
  font-family: "SFUIText", "Rajdhani", "Arial", sans-serif


  // TEXT
  &__text
    font-size: 14px
    padding-right: 35px
  // \ TEXT
// ===============
