// DIFFERENCE
// ===============
.difference
  position: relative
  background-color: $colorBlackRussian


  // BG
  &__bg
    z-index: 0
    position: absolute
    display: flex
    top: 0
    left: 0
    width: 100%
    height: 100%
    +r(767)
      display: none

    &-left,
    &-right
      width: 50%
      height: 100%

    &-right
      background-image: url("../img/img-bg_difference@2x.png")
      background-size: contain
      background-position: center
      background-repeat: no-repeat
  // \ BG


  // CONTAINER
  .container
    z-index: 1
    position: relative
  // \ CONTAINER


  // ROW
  &__row
    display: flex
    +r(767)
      flex-direction: column

    &-left,
    &-right
      width: 50%
      +r(767)
        width: 100%
  // ROW


  // TITLE
  &__title
    padding-bottom: 50px
    color: $colorWhite
    text-align: left
    +rmin(320)
      padding-top: 70px
    +rmin(768)
      padding-top: 100px
    +rmin(1024)
      padding-top: 140px
    +rmin(1440)
      padding-top: 170px
  // \ TITLE


  // \ TEXT
  &__text
    padding-bottom: 30px
    text-align: left
    color: $colorWhite

    span
      font-weight: bold
  // \ TEXT


  // BTN
  &__btn
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 266px
    height: 60px
    margin-top: 40px
    background-color: $colorAlizarin
    color: $colorWhite
    font-weight: bold
    +transition(background-color)
    +rmin(320)
      margin-bottom: 47px
      font-size: 18px
    +rmin(576)
      margin-bottom: 77px
      font-size: 22px
    +rmin(768)
      margin-bottom: 117px
    +rmin(1200)
      margin-bottom: 147px
    +rmin(1400)
      margin-bottom: 187px

    &:hover
      background-color: $colorBlack
      +transition(background-color)
  // \ BTN
// ===============