// FOOTER
// ===============
.footer
  // CONTAINER
  .container
    padding-top: 60px
    border-top: 1px solid rgba($colorBlack, 0.1)
  // \ CONTAINER


  // ROW
  &__row
    display: flex
    +rmin(320)
      flex-direction: column
      align-items: flex-start
    +rmin(768)
      flex-direction: row

    &-0
      align-items: center
      padding-bottom: 50px
      +r(767)
        padding-bottom: 0
  // \ ROW


  // COL
  &__col
    width: 50%
    &:nth-child(1)
      +rmin(768)
        padding-right: 15px
      +rmin(992)
        padding-right: 35px
    &:nth-child(2)
      +rmin(320)
        padding-bottom: 50px
      +rmin(768)
        padding-left: 15px
        padding-bottom: 0
      +rmin(992)
        padding-left: 35px

    +r(575)
      width: 100%

    .footer__row-0 &
      &:nth-child(1)
        +r(575)
          display: none

    .footer__row-0 &,
    .footer__row-3 &
      display: flex

      &:nth-child(1)
        justify-content: flex-start
      &:nth-child(2)
        justify-content: flex-end
        +r(575)
          justify-content: center
  // \ COL
// ===============
