// MAIN TITLE
// ===============
.main__title
  line-height: 1
  font-weight: bold
// TITLE
// ===============
.title
  font-weight: bold
  text-align: center
  +rmin(320)
    font-size: 32px
  +rmin(992)
    font-size: 42px
  +rmin(1440)
    font-size: 60px
// SUBTITLE
// ===============
.subtitle
  text-align: center
  font-weight: 500
  +rmin(320)
    font-size: 16px
  +rmin(576)
    font-size: 22px
  +rmin(992)
    font-size: 32px
// TEXT
// ===============
.text
  text-align: center
  line-height: 1.5
  font-family: "SFUIText", "Arial", sans-serif
  +rmin(320)
    font-size: 14px
  +rmin(576)
    font-size: 16px
  +rmin(728)
    font-size: 18px
// LINK MORE
// ===============
.link__more
  display: block
  position: relative
  width: 100%
  max-width: 170px
  letter-spacing: 1px
  font-family: "SFUIText", "Rajdhani", "Arial", sans-serif
  font-weight: 600
  font-size: 16px
  +transition(color)
  +r(767)
    font-size: 14px
    margin-left: auto
    margin-right: auto

  &:hover
    color: $colorAlizarin
    +transition(color)

    span
      &:before
        width: 100%
        background-color: $colorAlizarin
        +transition(width, background-color)

  span
    position: absolute
    top: 50%
    right: 0
    width: 60px
    height: 2px
    transform: translateY(-50%)
    background-color: rgba($colorBlack, 0.1)

    &:before
      content: ""
      position: absolute
      left: 0
      top: 0
      width: 50%
      height: 100%
      background-color: $colorBlack
      +transition(width, background-color)