// PARTNERS
// ===============
.depositsWithdrawals
  .info
    +rmin(320)
      padding-top: 40px
      padding-bottom: 84px
    +rmin(768)
      padding-top: 80px
      padding-bottom: 184px

    // CONTAINER
    .container
      &--small
        max-width: 790px
    // end CONTAINER


    // TITLE
    &__title
      text-align: left
      +rmin(320)
        padding-bottom: 30px
      +rmin(768)
        padding-bottom: 60px
    // end TITLE


    // TEXT
    &__text
      text-align: left

      &--p
        padding-top: 30px
    // end TEXT
// ===============