// LOGOTYPE :: START
.logotype
  margin-right: 39px
  animation-delay: 0.3s
  +transition(transform)

  &--footer
    .icon-logo,
    .icon-logo--mobile
      display: none

  &--header
    .icon-logo
      +r(767)
        display: none
    .icon-logo--mobile
      display: none
      +r(767)
        display: block
    .icon-logo--footer
      display: none

    .onlineTrading &,
    .about &
      +rmin(768)
        .icon-logo
          display: none
        .icon-logo--footer
          display: block

    .onlineTrading .is-fixed &,
    .about .is-fixed &
      +rmin(768)
        .icon-logo
          display: block
        .icon-logo--footer
          display: none

  &:hover
    transform: scale(0.97)
    +transition(transform)

  .home.is-loader &
    animation-delay: 2.8s

  .is-loader &
    animation-delay: 2.05s

  &__btn
    display: block

// LOGOTYPE :: END
