// MAIN
// ===============
.about
  .main
    background-image: url("../img/img-mainAbout_bg.png")
    background-repeat: no-repeat
    background-position: left bottom
    background-size: contain
    +rmin(320)
      margin-top: (71px + 50px)
    +rmin(768)
      margin-top: (141px + 79px)


    // TITLE
    &__title
      padding-bottom: 40px
      +rmin(320)
        font-size: 32px
      +rmin(576)
        font-size: 54px
      +rmin(780)
        font-size: 72px
      +rmin(992)
        font-size: 93px
      +rmin(1200)
        font-size: 113px
      +rmin(1440)
        font-size: 135px
      +rmin(1920)
        font-size: 180px
    // end TITLE


    // MAIN MENU
    &__menu
      width: 100%
      height: 40px
      margin-bottom: 50px
      border-bottom: 1px solid rgba($colorGrey, 0.1)
      background-color: transparent

      &-list
        display: flex

      &-item
        +rmin(320)
          margin-right: 10px
        +rmin(576)
          margin-right: 20px
        +rmin(768)
          margin-right: 40px
        &:last-child
          margin-right: 0

      &-link
        position: relative
        display: flex
        align-items: center
        height: 40px
        font-family: "SFUIText", "Arial", sans-serif
        font-weight: normal
        +transition(color)
        +rmin(320)
          font-size: 12px
        +rmin(576)
          font-size: 14px
        +rmin(768)
          font-size: 16px

        &.is-active
          color: $colorAlizarin
          +transition(color)

          &:after
            height: 2px
            background-color: $colorAlizarin
            +transition(background-color)

        &:after
          content: ""
          position: absolute
          left: 0
          bottom: 0
          width: 100%
          height: 1px
          background-color: transparent
          +transition(background-color)
    // end MAIN MENU


    // TEXT ABOUT
    &__about
      width: 100%
      line-height: 1.5
      font-weight: 500
      +rmin(320)
        max-width: 100%
        padding-bottom: 35px
        font-size: 22px
      +rmin(768)
        max-width: 85%
        padding-bottom: 70px
        font-size: 32px
      +rmin(992)
        max-width: 70%
    // end TEXT ABOUT


    // MOTIVATE
    &__motivate
      width: 100%
      padding-bottom: 25px
      color: rgba($colorBlack, 0.5)
      text-align: left
      +rmin(320)
        max-width: 100%
      +rmin(768)
        max-width: 60%
      +rmin(992)
        max-width: 30%
    // end MOTIVATE


    // VISION
    &__row
      display: flex
      +rmin(320)
        justify-content: flex-start
      +rmin(576)
        justify-content: flex-end

      &-wrap
        width: 100%
        padding-right: 15px
        +rmin(320)
          max-width: 100%
          padding-bottom: 48px
        +rmin(576)
          max-width: 500px
        +rmin(768)
          padding-bottom: 88px
        +rmin(992)
          padding-bottom: 128px

        p
          &:nth-child(1)
            text-align: left
            padding-bottom: 40px
          &:nth-child(2),
          &:nth-child(3)
            text-align: left
            padding-bottom: 30px
    // end VISION


    // SLOGAN
    &__slogan
      color: $colorAlizarin
      text-transform: uppercase
      font-weight: bold
      +rmin(320)
        padding-bottom: 50px
        font-size: 32px
      +rmin(768)
        padding-bottom: 90px
      +rmin(992)
        padding-bottom: 130px
        font-size: 42px
      +rmin(1440)
        font-size: 60px
    // end SLOGAN
// ===============