// MAIN
// ===============
.equinixCybersonicExecution
  .main
    background-color: $colorWhiteSmoke
    +rmin(320)
      padding-top: 101px
      padding-bottom: 64px
    +rmin(768)
      padding-top: 201px
      padding-bottom: 124px


    // ROW
    &__row
      display: flex
      +rmin(320)
        flex-direction: column
        padding-bottom: 30px
      +rmin(768)
        flex-direction: row
        padding-bottom: 70px
    // \ ROW


    // COL
    &__col
      +rmin(320)
        width: 100%
      +rmin(576)
        width: 50%
      &:nth-child(2)
        display: flex
        align-items: flex-end
        justify-content: flex-end
    // \ COL


    // TITLE
    .main__title
      line-height: normal
      text-align: left
      +rmin(320)
        padding-bottom: 30px
        font-size: 32px
      +rmin(576)
        font-size: 36px
      +rmin(768)
        padding-bottom: 0
        font-size: 48px
      +rmin(992)
        font-size: 62px
      +rmin(1200)
        font-size: 75px
      +rmin(1440)
        font-size: 90px
      +rmin(1920)
        font-size: 120px
    // \ TITLE


    // TEXT
    &__text
      width: 100%
      max-width: (790px + 120px)
      text-align: left
      &--p
        padding-top: 30px
        +rmin(320)
          padding-bottom: 50px
        +rmin(768)
          padding-bottom: 80px
        +rmin(1299)
          padding-bottom: 110px
    // \ TEXT


    // BOX
    &__box
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      background-color: $colorAlizarin
      +rmin(320)
        padding: 30px
      +rmin(768)
        padding: 32px 43px
      +rmin(992)
        max-width: 361px
        height: 234px
        padding: 42px 53px
      +rmin(1400)
        max-width: 521px
        height: 264px
        padding: 62px 73px

      &-text
        color: $colorWhite
        font-weight: bold
        text-transform: uppercase
        +rmin(320)
          font-size: 22px
        +rmin(768)
          font-size: 32px
        +rmin(992)
          font-size: 42px
        +rmin(1440)
          font-size: 60px
    // \ BOX


    // WRAP
    &__wrap
      display: flex
      +rmin(320)
        flex-direction: column
      +rmin(768)
        flex-direction: row
    // \ WRAP


    // BLOCK
    &__block
      display: flex
      +rmin(320)
        padding-bottom: 30px
      +rmin(768)
        width: 50%
      +rmin(992)
        padding-bottom: 61px
      +rmin(1200)
        width: auto

      &-0
        +rmin(1200)
          padding-right: 263px
      &-2
        +rmin(1200)
          padding-left: 263px
          padding-right: 211px

      &-left
        width: 104px

      &-right
        width: calc(100% - 104px)

      &-icon
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        width: 70px
        height: 70px
        border-radius: 100%
        background-color: $colorAlizarin
        +transition(box-shadow)

        &:hover
          box-shadow: 0 0 15px 0 rgba($colorBlack, 0.15)
          +transition(box-shadow)

      &-title,
      &-text
        font-family: "SFUIText", "Arial", sans-serif

      &-title
        padding-bottom: 10px
        letter-spacing: 0.3px
        font-weight: 600
        +rmin(320)
          font-size: 16px
        +rmin(576)
          font-size: 22px
        +rmin(992)
          font-size: 32px

      &-text
        line-height: 1.6
        +rmin(320)
          font-size: 14px
        +rmin(768)
          font-size: 16px
        +rmin(992)
          font-size: 18px
    // \ BLOCK
// ===============