// MAIN
// ===============
.tradingHours
  .main
    position: relative
    +rmin(320)
      padding-bottom: 30px
    +rmin(768)
      padding-bottom: 50px


    // BG
    &__bg
      z-index: 0
      position: absolute
      height: 100%
      max-height: calc(900px - (40px + 79px))
      background-color: $colorWhiteSmoke
      background-image: url("../img/img-tradingHours_bg@2x.png")
      background-position: center
      background-repeat: no-repeat
      background-size: cover
      +rmin(320)
        top: 50px
        left: 15px
        right: 15px
        width: calc(100% - 30px)
      +rmin(768)
        top: (40px + 79px)
        left: 60px
        right: 60px
        width: calc(100% - 120px)
    // end BG


    // CONTAINER
    .container
      z-index: 1
      position: relative
      &--small
        max-width: 1024px
        +rmin(320)
        +rmin(768)
          padding-left: 30px
          padding-right: 30px
        +rmin(992)
          padding-left: 60px
          padding-right: 60px
    // end CONTAINER


    // MAIN TITLE
    .main__title
      padding-bottom: 40px
      line-height: normal
      text-align: center
      +rmin(320)
        padding-top: 79px
        font-size: 32px
      +rmin(576)
        padding-top: 179px
        font-size: 36px
      +rmin(768)
        padding-top: 279px
        font-size: 48px
      +rmin(992)
        font-size: 62px
      +rmin(1200)
        font-size: 75px
      +rmin(1440)
        font-size: 90px
      +rmin(1920)
        font-size: 120px
    // end MAIN TITLE


    // SUBTITLE
    &__subtitle
      +rmin(320)
        padding-bottom: 40px
      +rmin(768)
        padding-bottom: 55px
    // end SUBTITLE


    // ACCORDION
    &__accordion
      background-color: $colorWhite
      font-family: "SFUIText", "Arial", sans-serif
      +rmin(320)
        padding: 30px 15px
        overflow-x: auto
      +rmin(768)
        padding: 50px 30px
        overflow: hidden
      +r(991)
        width: 844px

      &-cover
        +r(991)
          overflow-x: auto

      &-wrap
        margin-bottom: 10px

        &.is-active
          .main__accordion-subtitle
            opacity: 1
            +transition(opacity)
          .main__accordion-col
            &:nth-child(2)
              border-left: 1px solid rgba($colorGrey, 0.25)
              border-right: 1px solid rgba($colorGrey, 0.25)
              +transition(border)
          .main__accordion-btn
            .icon
              transform: rotate(-180deg)
              +transition(transform)

      &-header
        cursor: pointer
        position: relative
        display: flex
        height: 70px
        border: 1px solid rgba($colorGrey, 0.25)
        background-color: $colorWhiteSmoke

        &:hover
          .main__accordion-btn
            opacity: 1
            +transition(opacity)


      &-body
        display: none
        border: 1px solid rgba($colorGrey, 0.25)

      &-col
        font-size: 15px
        &:nth-child(1),
        &:nth-child(3)
          width: 240px

        &:nth-child(2)
          width: calc(100% - (240px * 2))
          border-left: 1px solid transparent
          border-right: 1px solid transparent
          +transition(border)

      &-row
        display: flex
        min-height: 70px
        border-top: 1px solid rgba($colorGrey, 0.25)

        &--2
          .main__accordion-col
            &:nth-child(1)
              width: 240px
            &:nth-child(2)
              width: calc(100% - 240px)
              border-right: none !important

        &--4
          .main__accordion-col
            &:nth-child(1),
            &:nth-child(2)
              width: 120px

            &:nth-child(2)
              border-right: none !important

            &:nth-child(3)
              width: calc(100% - (240px * 2))
              border-left: 1px solid rgba($colorGrey, 0.25)
              border-right: 1px solid rgba($colorGrey, 0.25)

            &:nth-child(4)
              width: 240px

        .main__accordion-col
          text-align: center
          padding: 10px
          &:nth-child(2)
            border-left: 1px solid rgba($colorGrey, 0.25)
            border-right: 1px solid rgba($colorGrey, 0.25)

          p
            display: flex
            align-items: center
            justify-content: center
            height: 100%

      &-title,
      &-subtitle
        display: flex
        align-items: center
        height: 100%

      &-title
        justify-content: flex-start
        padding-left: 30px
        font-weight: bold
        font-family: "Rajdhani", Arial, sans-serif
        +rmin(320)
          font-size: 16px
        +rmin(576)
          font-size: 18px
        +rmin(768)
          font-size: 22px

      &-subtitle
        opacity: 0
        justify-content: center
        text-transform: uppercase
        font-size: 14px
        font-weight: 500
        text-align: center
        +transition(opacity)

      &-btn
        opacity: 0
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        top: 0
        right: 0
        width: 80px
        height: 100%
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(242,242,242,0.5) 0%, rgba(213,213,213,1) 100%)
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(242,242,242,0.5) 0%,rgba(213,213,213,1) 100%)
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(242,242,242,0.5) 0%,rgba(213,213,213,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d5d5d5',GradientType=1 )
        +transition(opacity)

        .icon
          +transition(transform)
    // \ ACCORDION
// ===============