// MAIN
// ===============
.gettingDownBusiness

  .footer
    .container
      max-width: 1440px

  .main
    +rmin(320)
      padding-top: 101px
      padding-bottom: 30px
    +rmin(768)
      padding-top: 201px
      padding-bottom: 60px


    // CONTAINER
    .container
      &:nth-child(2)
        position: relative

      &.is-fixed
        .main__subMenu
          position: fixed
    // end CONTAINER


    // MAIN TITLE
    .main__title
      line-height: normal
    // end MAIN TITLE


    // TITLE
    &__title
      +rmin(320)
        padding-bottom: 30px
        font-size: 32px
      +rmin(576)
        font-size: 36px
      +rmin(768)
        padding-bottom: 60px
        font-size: 48px
      +rmin(992)
        font-size: 62px
      +rmin(1200)
        font-size: 75px
      +rmin(1440)
        font-size: 90px
      +rmin(1920)
        font-size: 120px
    // end TITLE


    // SUBTITLE
    &__subtitle
      color: $colorAlizarin
      text-align: left
      +rmin(320)
        padding-bottom: 30px
      +rmin(768)
        padding-bottom: 60px
    // end SUBTITLE


    // TEXT
    &__text
      text-align: left
      +rmin(320)
        padding-bottom: 30px
      +rmin(768)
        padding-bottom: 60px
    // end TEXT


    // SUBMENU
    &__subMenu
      position: absolute
      top: 0
      width: 100%
      max-width: 160px
      +rmin(320)
        display: none
      +rmin(1024)
        display: block
        left: -(100px)
      +rmin(1366)
        left: -(160px + 105px)

      &-list
        display: flex
        flex-direction: column

      &-link
        display: block
        padding-top: 10px
        padding-bottom: 10px
        color: $colorGrey
        font-size: 18px
        font-weight: bold

        &.is-active
          color: $colorBlack
    // end SUBMENU


    // BLOCK
    &__block
      padding-bottom: 50px

      .main__subtitle
        padding-bottom: 20px
        color: $colorBlack
        font-weight: bold

      .main__text
        padding-bottom: 0
        &--p
          padding-top: 30px
    // end BLOCK
// ===============