// MAIN
// ===============
.about
  .main
    position: relative
    background: rgb(19,19,26)
    background: -moz-linear-gradient(top, rgba(19,19,26,1) 0%, rgba(43,43,49,1) 100%)
    background: -webkit-linear-gradient(top, rgba(19,19,26,1) 0%,rgba(43,43,49,1) 100%)
    background: linear-gradient(to bottom, rgba(19,19,26,1) 0%,rgba(43,43,49,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13131a', endColorstr='#2b2b31',GradientType=0 )
    +rmin(320)
      padding-top: (71px + 50px)
    +rmin(768)
      padding-top: (141px + 79px)

    &:before
      content: ""
      z-index: 0
      position: absolute
      left: 0
      bottom: 0
      width: 90%
      height: 100%
      background-image: url("../img/img-mainAbout_bg@2x.png")
      background-repeat: no-repeat
      background-position: left bottom
      background-size: contain


    // TITLE
    &__title
      padding-bottom: 40px
      color: $colorWhite
      +rmin(320)
        font-size: 32px
      +rmin(576)
        font-size: 54px
      +rmin(780)
        font-size: 72px
      +rmin(992)
        font-size: 93px
      +rmin(1200)
        font-size: 113px
      +rmin(1440)
        font-size: 135px
      +rmin(1920)
        font-size: 180px
    // end TITLE


    // TEXT ABOUT
    &__about
      width: 100%
      line-height: 1.5
      color: $colorWhite
      font-weight: 500
      +rmin(320)
        max-width: 100%
        padding-bottom: 35px
        font-size: 22px
      +rmin(768)
        max-width: 85%
        padding-bottom: 70px
        font-size: 32px
      +rmin(992)
        max-width: 70%
    // end TEXT ABOUT


    // MOTIVATE
    &__motivate
      width: 100%
      padding-bottom: 25px
      color: $colorWhite
      text-align: left
      +rmin(320)
        max-width: 100%
      +rmin(768)
        max-width: 60%
      +rmin(992)
        max-width: 30%
    // end MOTIVATE


    // VISION
    &__row
      display: flex
      +rmin(320)
        justify-content: flex-start
      +rmin(576)
        justify-content: flex-end

      &-wrap
        width: 100%
        padding-right: 15px
        +rmin(320)
          max-width: 100%
          padding-bottom: 48px
        +rmin(576)
          max-width: 528px
        +rmin(768)
          padding-bottom: 88px
        +rmin(992)
          padding-bottom: 128px

        p
          color: $colorWhite
          &:nth-child(1)
            text-align: left
            padding-bottom: 38px
          &:nth-child(2),
          &:nth-child(3)
            text-align: left
            padding-bottom: 28px
    // end VISION


    // SLOGAN
    &__slogan
      color: $colorAlizarin
      text-transform: uppercase
      font-weight: bold
      +rmin(320)
        padding-bottom: 50px
        font-size: 32px
      +rmin(768)
        padding-bottom: 90px
      +rmin(992)
        padding-bottom: 125px
        font-size: 42px
      +rmin(1440)
        font-size: 60px
    // end SLOGAN
// ===============