// DIRECTORS
// ===============
.directors
  // TITLE
  &__title
    text-align: left
    +rmin(320)
      padding-bottom: 33px
    +rmin(768)
      padding-bottom: 53px
  // end TITLE


  // ROW
  &__row
    display: flex
    +rmin(320)
      flex-direction: column
    +rmin(768)
      flex-direction: row

    &-0
      +rmin(768)
        padding-bottom: 15px
      +rmin(992)
        padding-bottom: 10px
      .directors__col
        &:nth-child(2)
          display: flex

    &-1
      align-items: center
      +rmin(320)
        padding-bottom: 50px
      +rmin(576)
        padding-bottom: 90px
      +rmin(768)
        padding-bottom: 130px
      +rmin(992)
        padding-bottom: 170px

      .directors__col
        &:nth-child(1)
          display: flex
          flex-wrap: wrap

      .directors__block
        &:nth-child(1),
        &:nth-child(2)
          margin-bottom: 51px

    &-2
      +rmin(320)
        padding-bottom: 80px
      +rmin(576)
        padding-bottom: 120px
      +rmin(768)
        padding-bottom: 160px
      +rmin(992)
        padding-bottom: 200px

      .directors__col
        +rmin(320)
          padding-top: 15px
          padding-bottom: 15px
        +rmin(768)
          padding: 30px
        +rmin(992)
          padding: 0
          padding-left: 133px
  // end ROW


  // COL
  &__col
    +rmin(320)
      width: 100%
      padding-bottom: 20px
    +rmin(768)
      width: 50%
      padding-bottom: 0
  // end COL


  // SUBTITLE
  &__subtitle
    color: $colorAlizarin
    text-align: left
    font-weight: bold
    +rmin(320)
      padding-left: 0
    +rmin(992)
      padding-left: 130px
  // end SUBTITLE


  // TEXT
  &__text
    width: 100%
    max-width: 500px
    padding-right: 15px
    text-align: left
  // end TEXT


  // SLOGAN
  &__slogan
    padding-bottom: 26px
    letter-spacing: 1px
    line-height: 1.3
    font-family: "SFUIText", "Rajdhani", "Arial", sans-serif
    font-weight: bold
    +rmin(320)
      font-size: 16px
    +rmin(576)
      font-size: 22px
    +rmin(992)
      font-size: 32px
  // end SLOGAN


  // BLOCK
  &__block
    cursor: pointer
    position: relative
    width: 50%
    height: 192px

    &-info
      position: absolute
      top: 103px
      left: 53px
      height: 60px
      background-color: $colorWhite
      font-family: "SFUIText", "Rajdhani", "Arial", sans-serif
      +rmin(320)
        padding-top: 5px
        padding-left: 5px
      +rmin(768)
        padding-top: 16px
        padding-left: 20px

    &-name
      font-weight: bold
      +rmin(320)
        font-size: 14px
      +rmin(576)
        font-size: 16px
      +rmin(768)
        font-size: 19px
      +rmin(992)
        font-size: 22px

    &-position
      padding-bottom: 10px
      font-weight: 500
      font-size: 12px
      color: rgba($colorGrey, 0.7)
  // end BLOCK
// ===============