// TRANSPARENCY
// ===============
.transparency
  padding-top: 222px
  padding-bottom: 222px


  // ROW
  &__row
    display: flex
    padding-left: 133px

    &-left
      width: 314px

    &-right
      width: calc(100% - 314px)
      padding-top: 15px
  // end ROW


  // CIRCLE
  &__circle
    display: flex
    align-items: center
    justify-content: center
    width: 254px
    height: 254px
    border-radius: 100%
    background-color: $colorAlizarin
  // end CIRCLE


  // end CIRCLE
  &__title
    padding-bottom: 20px
    color: $colorAlizarin
    text-transform: uppercase
    font-size: 18px
    font-weight: bold
  // end CIRCLE


  // end CIRCLE
  &__text
    font-size: 32px
    font-weight: 500
    font-family: "SFUIText", "Rajdhani", "Arial", sans-serif
  // end CIRCLE
// ===============