// VALUES
// ===============
.values
  overflow: hidden
  position: relative
  +rmin(320)
    padding-top: 20px
  +rmin(576)
    padding-top: 60px
  +rmin(768)
    padding-top: 116px

  &:before
    z-index: 0
    position: absolute
    top: 0
    right: 0
    width: 756px
    height: 100%
    background-image: url("../img/img-values__bg@2x.png")
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    +rmin(1366)
      content: ""


  // CONTAINER
  .container
    position: relative
  // end CONTAINER


  // TITLE
  &__title
    text-align: left
  // end TITLE


  // SUBTITLE
  &__subtitle
    text-align: left
    text-transform: uppercase
    padding-top: 30px
    +rmin(320)
      padding-bottom: 30px
    +rmin(768)
      padding-bottom: 65px
  // end SUBTITLE


  // BLOCK
  &__block
    width: 100%
    +rmin(320)
      padding-right: 0
      padding-bottom: 30px
    +rmin(768)
      width: 50%
      padding-right: 30px
      padding-bottom: 70px

    &-wrap
      display: flex
      flex-wrap: wrap
      width: 100%
      max-width: 850px


    &-title
      padding-top: 10px
      padding-bottom: 10px
      font-weight: bold
      +rmin(320)
        font-size: 16px
      +rmin(576)
        font-size: 18px
      +rmin(728)
        font-size: 22px

    &-text
      line-height: 1.5
      color: rgba($colorBlack, 0.7)
      font-family: "SFUIText", "Arial", sans-serif
      +rmin(320)
        font-size: 14px
      +rmin(576)
        font-size: 16px
      +rmin(728)
        font-size: 18px
  // end BLOCK
// ===============