// ACCOUNTS
// ===============
.accounts
  position: relative
  padding-bottom: 18px
  +rmin(320)
    padding-top: 50px
  +rmin(768)
    padding-top: 90px
  +rmin(992)
    padding-top: 110px
  +rmin(1200)
    padding-top: 130px


  // CONTAINER
  .container
    z-index: 1
    position: relative
  // end CONTAINER


  // BG
  &__bg
    z-index: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 70%
    background-color: $colorWhiteSmoke
  // end BG


  // TITLE WRAP
  &__title
    +rmin(320)
      padding-right: 0
      text-align: left
    +rmin(1200)
      padding-right: 202px
      text-align: center

    &-wrap
      display: flex
      +rmin(320)
        flex-direction: column
        padding-bottom: 40px
      +rmin(768)
        padding-bottom: 60px
      +rmin(992)
        padding-bottom: 80px
      +rmin(1200)
        flex-direction: row
        padding-bottom: 100px
  // end TITLE WRAP


  // end TITLE WRAP
  &__text
    width: 100%
    padding-right: 15px
    padding-top: 30px
    text-align: left
    +rmin(320)
      max-width: 100%
    +rmin(992)
      max-width: 500px
  // end TITLE WRAP


  // ROW
  &__row
    display: flex
    +rmin(320)
      flex-direction: column
    +rmin(768)
      flex-direction: row
  // end ROW


  // COL
  &__col
    +rmin(320)
      width: 100%
    +rmin(768)
      width: 50%
  // end COL


  // BLOCK
  &__block
    position: relative
    width: 100%
    font-family: "SFUIText", "Rajdhani", "Arial", sans-serif
    +rmin(320)
      margin-bottom: 30px
    +rmin(768)
      margin-bottom: 60px

    &-0,
    &-2
      padding-right: 30px

      .accounts__block-wrap
        right: 0

    &-1,
    &-3
      +rmin(320)
        padding-right: 30px
      +rmin(768)
        padding-left: 30px

      .accounts__block-wrap
        +rmin(320)
          right: 0
        +rmin(768)
          right: -30px

    &-0
      .accounts__block-wrap
        box-shadow: 0 10px 15px 0 rgba($colorBlack, 0.1)
        background: rgb(163,163,172)
        background: -moz-linear-gradient(left, rgba(163,163,172,1) 0%, rgba(130,130,146,1) 100%)
        background: -webkit-linear-gradient(left, rgba(163,163,172,1) 0%,rgba(130,130,146,1) 100%)
        background: linear-gradient(to right, rgba(163,163,172,1) 0%,rgba(130,130,146,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3ac', endColorstr='#828292',GradientType=1 )
    &-1
      .accounts__block-wrap
        box-shadow: 0 10px 15px 0 rgba($colorBlack, 0.1)
        background: rgb(48,48,77)
        background: -moz-linear-gradient(left, rgba(48,48,77,1) 0%, rgba(86,86,124,1) 100%)
        background: -webkit-linear-gradient(left, rgba(48,48,77,1) 0%,rgba(86,86,124,1) 100%)
        background: linear-gradient(to right, rgba(48,48,77,1) 0%,rgba(86,86,124,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30304d', endColorstr='#56567c',GradientType=1 )
    &-2
      .accounts__block-wrap
        box-shadow: 0 10px 15px 0 rgba(#F49708, 0.1)
        background: rgb(255,170,31)
        background: -moz-linear-gradient(left, rgba(255,170,31,1) 0%, rgba(227,188,32,1) 100%)
        background: -webkit-linear-gradient(left, rgba(255,170,31,1) 0%,rgba(227,188,32,1) 100%)
        background: linear-gradient(to right, rgba(255,170,31,1) 0%,rgba(227,188,32,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa1f', endColorstr='#e3bc20',GradientType=1 )

    &-3
      .accounts__block-wrap
        box-shadow: 0 10px 15px 0 rgba(#F40830, 0.1)
        background: rgb(244,8,48)
        background: -moz-linear-gradient(left, rgba(244,8,48,1) 0%, rgba(255,135,31,1) 100%)
        background: -webkit-linear-gradient(left, rgba(244,8,48,1) 0%,rgba(255,135,31,1) 100%)
        background: linear-gradient(to right, rgba(244,8,48,1) 0%,rgba(255,135,31,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f40830', endColorstr='#ff871f',GradientType=1 )


    &-cover
      width: 100%
      box-shadow: 0 5px 20px 0 rgba($colorBlack, 0.1)
      background-color: $colorWhite
      +rmin(320)
        padding: 15px
      +rmin(768)
        padding: 30px
      +rmin(992)
        padding: 48px 40px 63px

    &-title
      padding-bottom: 19px
      letter-spacing: 1px
      font-size: 22px
      font-weight: bold
      +rmin(320)
        font-size: 16px
      +rmin(576)
        font-size: 18px
      +rmin(992)
        font-size: 22px

    &-subtitle
      padding-bottom: 50px
      line-height: 1.5
      color: rgba($colorBlack, 0.5)
      +rmin(320)
        padding-right: 95px
      +rmin(768)
        padding-right: 60px
      +rmin(992)
        padding-right: 130px
      +rmin(1200)
        padding-right: 0

    &-text
      line-height: 1.5
      +rmin(320)
        font-size: 14px
      +rmin(576)
        font-size: 16px
      +rmin(992)
        font-size: 18px

    &-wrap
      position: absolute
      top: 40px
      +rmin(320)
        width: 130px
        height: auto
        padding: 10px
      +rmin(768)
        height: 100px
        padding: 10px 15px 0
      +rmin(992)
        width: 200px
        padding: 20px 30px 0

    &-price,
    &-priceInfo
      color: $colorWhite

    &-price
      text-align: right
      font-weight: bold
      font-size: 32px
      +rmin(320)
        font-size: 16px
      +rmin(576)
        font-size: 22px
      +rmin(992)
        font-size: 32px

    &-priceInfo
      font-size: 14px
      +rmin(320)
        text-align: right
      +rmin(992)
        text-align: left
  // end BLOCK
// ===============