// SERVERS
// ===============
.servers
  +rmin(320)
    padding-top: 15px
    padding-bottom: 30px
  +rmin(768)
    //padding-top: 75px
    padding-bottom: 50px


  // TITLE
  &__title
    padding-bottom: 23px
  // end TITLE


  // SUBTITLE
  &__subtitle
    padding-bottom: 45px
  // end SUBTITLE


  // TEXT
  &__text
    width: 100%
    max-width: 530px
    margin-left: auto
    margin-right: auto
    +rmin(320)
      padding-bottom: 40px
    +rmin(768)
      padding-bottom: 68px
  // end TEXT


  // ROW
  &__row

    margin-left: auto
    margin-right: auto
    +rmin(768)
      width: (648px / 3) * 3
      height: (648px / 3) * 2
    +rmin(992)
      width: (264px * 3)
      height: (264px * 2)

    &-wrap
      +rmin(320)
        display: block
      +rmin(768)
        display: flex
      &:nth-child(1)
        justify-content: center
        .servers__block
          border-bottom: none
      &:nth-child(2)
        .servers__block
          &:nth-child(1)
            border-right: none
          &:nth-child(3)
            border-left: none
  // end ROW


  // BLOCK
  &__block
    display: flex
    flex-direction: column
    align-items: center
    border: 1px solid rgba($colorGrey, 0.1)
    +rmin(320)
      width: 100%
      min-height: 216px
    +rmin(768)
      width: (648px / 3)
      height: (648px / 3)
    +rmin(992)
      width: 264px
      height: 264px

    &-num
      padding-top: 67px
      padding-bottom: 19px
      color: $colorAlizarin
      line-height: 1
      font-weight: 600
      +rmin(320)
        font-size: 32px
      +rmin(992)
        font-size: 42px
      +rmin(1440)
        font-size: 60px

    &-title
      padding-bottom: 10px
      font-family: "SFUIText", "Arial", sans-serif
      font-weight: 600
      +rmin(320)
        font-size: 14px
      +rmin(576)
        font-size: 16px
      +rmin(728)
        font-size: 18px
    &-text
      padding-left: 15px
      padding-right: 15px
      text-align: center
      font-family: "SFUIText", "Arial", sans-serif
      color: rgba($colorBlack, 0.5)
  // end BLOCK
// ===============