// PLATFORMS
// ===============
.platforms
  +rmin(320)
    padding-top: 35px
    //padding-bottom: 30px
  +rmin(768)
    padding-top: 75px
    //padding-bottom: 50px

  // TITLE
  &__title
    padding-bottom: 20px
  // end TITLE


  // SUBTITLE
  &__subtitle
    +rmin(320)
      padding-bottom: 30px
    +rmin(768)
      padding-bottom: 68px
  // end SUBTITLE


  // ROW
  &__row
    display: flex
    +rmin(320)
      flex-direction: column
    +rmin(992)
      flex-direction: row
  // end ROW


  // COL
  &__col
    &:nth-child(2)
      padding-left: 110px
  // end ROW


  // BLOCK
  &__block
    display: flex
    +rmin(320)
      padding-bottom: 30px
    +rmin(992)
      padding-bottom: 61px

    &-left
      width: 104px

    &-right
      width: calc(100% - 104px)
      padding-top: 22px
      +rmin(320)
        padding-right: 0
      +rmin(768)
        //padding-right: 30px

    &-icon
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      width: 70px
      height: 70px
      border-radius: 100%
      background-color: $colorAlizarin
      +transition(box-shadow)

      &:hover
        box-shadow: 0 0 15px 0 rgba($colorBlack, 0.15)
        +transition(box-shadow)

    &-title,
    &-text
      font-family: "SFUIText", "Arial", sans-serif
      +rmin(320)
        font-size: 14px
      +rmin(768)
        font-size: 16px
      +rmin(992)
        font-size: 18px

    &-title
      padding-top: 3px
      padding-bottom: 24px
      letter-spacing: 0.3px
      font-weight: 600

    &-text
      padding-bottom: 20px
      line-height: 1.6

    &-btn
      display: flex
      align-items: center
      justify-content: center
      width: 119px
      height: 40px
      border-radius: 3px
      border: 1px solid rgba($colorGrey, 0.1)
      background-color: transparent
      font-family: "SFUIText", "Arial", sans-serif
      font-weight: 600
      +transition(color, border-color, background-color)
      +rmin(320)
        font-size: 14px
      +rmin(1200)
        font-size: 16px

      &:hover
        color: $colorWhite
        border-color: $colorAlizarin
        background-color: $colorAlizarin
        +transition(color, border-color, background-color)
// end BLOCK
// ===============