// VALUES
// ===============
.values
  +rmin(320)
    padding-top: 20px
    padding-bottom: 30px
  +rmin(576)
    padding-top: 60px
    padding-bottom: 50px
  +rmin(768)
    padding-top: 120px
    padding-bottom: 100px

  
  // CONTAINER
  .container
    position: relative
  // end CONTAINER


  // TITLE
  &__title
    text-align: left
  // end TITLE


  // SUBTITLE
  &__subtitle
    color: $colorAlizarin
    text-align: left
    text-transform: uppercase
    +rmin(320)
      padding-top: 30px
    +rmin(992)
      padding-top: 450px
    +rmin(1200)
      padding-top: 410px
  // end SUBTITLE


  // BLOCK
  &__block
    display: flex
    width: 100%
    +rmin(320)
      position: static
      padding-top: 15px
      padding-bottom: 15px
    +rmin(768)
      padding-top: 30px
      padding-bottom: 30px
    +rmin(992)
      position: absolute
      padding-top: 0
      padding-bottom: 0
    +r(991)
      max-width: 100% !important

    &-0
      top: 171px
      left: 60px
      max-width: 408px

      .values__block-text
        width: 100%
        +rmin(320)
          max-width: 100%
        +rmin(992)
          max-width: 260px

    &-1
      top: 33px
      left: 603px
      max-width: 370px

    &-2
      top: 205px
      right: 104px
      max-width: 344px

    &-3
      top: 396px
      right: 303px
      max-width: 495px

    &-4
      bottom: 2px
      right: 100px
      max-width: 484px

    &-left
      padding-left: 20px
      +rmin(320)
        width: 65px
      +rmin(576)
        width: 100px

    &-right
      +rmin(320)
        width: calc(100% - 65px)
      +rmin(576)
        width: calc(100% - 100px)

    &-num
      font-weight: bold
      +rmin(320)
        font-size: 32px
      +rmin(768)
        font-size: 40px
      +rmin(992)
        font-size: 60px
      +rmin(1440)
        font-size: 80px


    &-title
      padding-top: 10px
      padding-bottom: 10px
      font-size: 22px
      font-weight: bold

    &-text
      line-height: 1.5
      color: rgba($colorBlack, 0.7)
      font-family: "SFUIText", "Arial", sans-serif
// end BLOCK
// ===============