// PARTNERS
// ===============
.payment


  // ROW
  &__row
    padding-top: 40px
    padding-bottom: 40px
    border-bottom: 1px solid rgba($colorGrey, 0.1)
  // end ROW


  // end ROW
  &__list
    display: flex
    align-items: center
    justify-content: center
  // end ROW


  // end ROW
  &__item
    margin-left: 25px
    margin-right: 25px
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
  // end ROW
// ===============