// PORTAL
// ===============
.portal
  padding-top: 100px
  padding-bottom: 65px

  // TITLE
  &__title
    padding-bottom: 50px
  // \ TITLE


  // TEXT
  &__text
    width: 100%
    max-width: 790px
    margin-left: auto
    margin-right: auto
    padding-bottom: 70px
  // \ TITLE


  // ROW
  &__row
    display: flex
  // \ ROW


  // COL
  &__col
    width: calc(100% / 4)
  // \ COL


  // \ COL
  &__item
    display: flex
    align-items: center
    margin-bottom: 30px
    font-size: 22px
    font-weight: 600

    .icon
      margin-right: 10px
  // \ COL
// ===============