// SECTION
// ===============
.section
  min-height: 800px
  height: 100vh


.section-1
  .container
    position: relative
    top: calc(50% - 79px)
    transform: translateY(-50%)
    +r(767)
      top: calc(50% - 50px)

  .section__row
    display: flex

  .section__col
    &:nth-child(1)
      width: 100%
      max-width: 450px
      padding-top: 105px
    &:nth-child(2)
      display: flex
      justify-content: flex-end
      width: calc(100% - 450px)
      padding-top: 32px

      img
        display: block
        max-width: 100%
        height: auto
        object-fit: contain

  .section__title
    padding-bottom: 67px
    font-size: 80px
    font-weight: 700

  .section__subtitle
    padding-bottom: 105px
    font-size: 32px
    font-weight: 500

  .section__btn
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 450px
    height: 120px
    background-color: $colorAlizarin
    font-size: 26px
    font-weight: 500
    color: $colorWhite

  .section__link
    display: flex
    align-items: center
    position: absolute
    left: 50%
    bottom: 10px
    height: 120px
    transform: translateX(-50%)
    font-size: 26px
    font-weight: 500

    .icon
      margin-left: 24px


.section-2
  .container
    height: 100%

  .section__title
    padding: 60px 0 40px
    text-align: center
    font-size: 60px
    font-weight: 700

  .section__row
    display: flex
    flex-wrap: wrap
    align-items: center
    height: 75%

  .section__col
    overflow: hidden
    cursor: pointer
    position: relative
    width: calc(100% / 3)
    height: calc(100% / 3)
    min-height: 240px
    &:hover
      svg
        opacity: 0.1
        +transition(opacity)
      .text__wrap
        top: -30%
        transform: translateY(-30%)
        +transition(top, transform)
        p
          opacity: 1
          +transition(opacity)

    svg
      display: block
      position: relative
      +transition(opacity)

      path,
      rect,
      ellipse,
      polyline
        stroke-dasharray: 1000
        stroke-dashoffset: 1000
        animation: dash 2s ease-in-out forwards

      @keyframes dash
        from
          stroke-dashoffset: 1000
        to
          stroke-dashoffset: 0

    .svg__wrap
      display: flex
      align-items: center
      justify-content: center
      height: 160px
      margin-bottom: 30px

    .text__wrap
      position: relative
      top: 0
      padding: 0 30px
      text-align: center
      transform: translateY(0)
      +transition(top, transform)

      h3
        margin-bottom: 15px
        font-size: 22px
      p
        opacity: 0
        font-size: 18px
        +transition(opacity)
