// SECTION
// ===============
.section
  min-height: 800px
  height: 100vh


.section-1

  .container
    position: relative
    top: calc(50% - 79px)
    transform: translateY(-50%)
    +r(767)
      top: calc(50% - 50px)

  .section__row
    display: flex

  .section__col
    &:nth-child(1)
      width: 100%
      max-width: 450px
      padding-top: 105px
    &:nth-child(2)
      display: flex
      justify-content: flex-end
      width: calc(100% - 450px)
      padding-top: 32px

      img
        display: block
        max-width: 100%
        height: auto

  .section__title
    padding-bottom: 67px
    font-size: 80px
    font-weight: 700

  .section__subtitle
    padding-bottom: 105px
    font-size: 32px
    font-weight: 500

  .section__btn
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    max-width: 450px
    height: 120px
    background-color: $colorAlizarin
    font-size: 26px
    font-weight: 500
    color: $colorWhite

  .section__link
    display: flex
    align-items: center
    position: absolute
    left: 50%
    bottom: 10px
    height: 120px
    transform: translateX(-50%)
    font-size: 26px
    font-weight: 500

    .icon
      margin-left: 24px