// SECTION-2
// ===============
.section-2
  +rmin(320)
    height: 100%
    background-color: $colorWhiteSmoke
  +rmin(768)
    background-color: $colorWhite
  +rmin(992)
    min-height: 800px
  +rmin(1200)
    height: calc(100vh - 59px)


  .container
    height: 100%


  .section__title
    text-align: center
    font-weight: 700
    +rmin(320)
      padding: 15px 0 15px
      font-size: 32px
    +rmin(768)
      padding: 60px 0 40px
      font-size: 60px


  .section__row
    display: flex
    flex-wrap: wrap
    align-items: center
    height: 80%


  .section__col
    overflow: hidden
    cursor: pointer
    position: relative
    width: calc(100% / 3)
    height: calc(100% / 3)
    min-height: 240px
    padding: 15px
    +rmin(768)
      &:hover
        svg
          opacity: 0.1
          +transition(opacity)
        .text__wrap
          top: -30%
          transform: translateY(-30%)
          +transition(top, transform)
          p
            opacity: 1
            +transition(opacity)
    +r(768)
      max-height: 160px
    +r(1024)
      width: calc(100% / 2)
      height: calc(100% / 2)


    svg
      display: block
      position: relative
      +transition(opacity)

      #ico2-line3,
      #ico2-line4,
      #ico2-line5,
      #svg3-use-0,
      #svg3-use-1
        +rmin(320)
          fill: $colorWhiteSmoke
        +rmin(768)
          fill: $colorWhite

      path,
      rect,
      ellipse,
      polyline
        stroke-dasharray: 1000
        stroke-dashoffset: 1000
        animation: dash 2s ease-in-out forwards

      @keyframes dash
        from
          stroke-dashoffset: 1000
        to
          stroke-dashoffset: 0


    .svg__wrap
      display: flex
      align-items: center
      justify-content: center
      height: 160px
      margin-bottom: 30px


    .text__wrap
      position: relative
      top: 0
      padding: 0 30px
      text-align: center
      transform: translateY(0)
      +transition(top, transform)
      +r(768)
        padding: 0

      h3
        margin-bottom: 15px
        font-size: 22px
        +r(768)
          font-size: 16px
      p
        opacity: 0
        font-size: 18px
        width: 75%
        margin-left: auto
        margin-right: auto
        +transition(opacity)
