// SUPPORT
// ===============
.support
  background-color: #fcfcfc
  background-image: url("../img/img-support-bg__contacts@2x.png")
  background-repeat: no-repeat
  background-position: left bottom
  background-size: contain


  // ROW
  &__row
    display: flex
    +rmin(320)
      flex-direction: column
      padding-top: 30px
      padding-bottom: 30px
    +rmin(992)
      flex-direction: row
      padding-top: 50px
      padding-bottom: 50px
  // \ ROW


  // COL
  &__col
    width: 100%

    &-0
      +rmin(320)
        padding-top: 30px
        margin-bottom: 30px
      +rmin(768)
        padding-top: 50px
        margin-bottom: 50px
      +rmin(992)
        max-width: calc(100% - 480px)
        padding-right: 60px
        padding-top: 150px
        margin-bottom: 0
      +rmin(1200)
        max-width: calc(100% - 526px)
        padding-right: 120px
        padding-top: 185px

    &-1
      position: relative
      background-color: $colorWhite
      +rmin(320)
        padding: 30px
      +rmin(576)
        padding: 42px 65px
      +rmin(992)
        max-width: 480px
      +rmin(1200)
        max-width: 526px


    &-title
      text-align: left
      font-weight: bold

    &-text
      padding-bottom: 37px
      text-align: left
  // \ COL


  // SUBTITLE
  &__subtitle
    color: $colorAlizarin
    text-align: left
  // \ SUBTITLE


  // TITLE
  &__title
    padding-bottom: 40px
    text-align: left
  // \ TITLE
// ===============