// TRADING PLATFORMS
// ===============
.tradingPlatforms
  +rmin(320)
    padding-top: 30px
    padding-bottom: 59px
  +rmin(768)
    padding-top: 60px
    padding-bottom: 159px


  // CONTAINER-FLUID
  .container-fluid
    position: relative

    &:before,
    &:after
      content: ""
      position: absolute
      top: 0
      height: 100%
      +rmin(320)
        display: none
      +rmin(768)
        display: block

    &:before
      left: 0
      width: 58%
      background-image: url("../img/img-tradingPlatforms_bg@2x.png")
      background-position: center
      background-repeat: no-repeat
      background-size: contain

    &:after
      right: 0
      width: 42%
  // end CONTAINER-FLUID


  // WRAP
  &__wrap
    display: flex
    +rmin(320)
      flex-direction: column
    +rmin(768)
      flex-direction: row
  // end WRAP


  // COL
  &__col
    +rmin(320)
      width: 100%
    +rmin(768)
      width: 50%

    &:last-child
      display: flex
      +rmin(320)
        justify-content: flex-start
        padding-left: 0
      +rmin(768)
        justify-content: center
        padding-left: 100px


  // end COL


  // BOX
  &__box
    width: 100%
    +rmin(320)
      max-width: 100%
      padding-top: 33px
      padding-bottom: 70px
    +rmin(768)
      max-width: 530px
      padding-top: 83px
      padding-bottom: 130px
    +rmin(1200)
      padding-top: 183px
      padding-bottom: 230px

    &-title
      padding-bottom: 20px
      font-weight: bold
      +rmin(320)
        font-size: 32px
      +rmin(768)
        font-size: 38px
      +rmin(992)
        font-size: 44px

    &-subtitle
      padding-bottom: 40px
      font-weight: 500
      color: $colorAlizarin
      +rmin(320)
        font-size: 22px
      +rmin(768)
        font-size: 27px
      +rmin(992)
        font-size: 32px

    &-text
      line-height: 1.5
      font-family: "SFUIText", "Arial", sans-serif
      &:last-child
        padding-top: 30px

      +rmin(320)
        font-size: 14px
      +rmin(768)
        font-size: 16px
      +rmin(992)
        font-size: 18px

    &-img
      +rmin(320)
        display: block
        max-width: 100%
        margin: 30px auto 0
      +rmin(768)
        display: none
  // end BOX


  // ROW
  &__row
    display: flex
    flex-wrap: wrap
  // end ROW


  // BLOCK
  &__block
    display: flex
    +rmin(320)
      width: 100%
      padding-bottom: 30px
    +rmin(768)
      width: 50%
      padding-bottom: 60px

    &-left
      width: 100px

    &-right
      width: calc(100% - 100px)
      padding-top: 22px
      +rmin(320)
        padding-right: 0
      +rmin(768)
        padding-right: 100px

    &-icon
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      width: 70px
      height: 70px
      border-radius: 100%
      background-color: $colorAlizarin
      +transition(box-shadow)

      &:hover
        box-shadow: 0 0 15px 0 rgba($colorBlack, 0.15)
        +transition(box-shadow)

    &-title,
    &-text
      font-family: "SFUIText", "Arial", sans-serif
      +rmin(320)
        font-size: 14px
      +rmin(768)
        font-size: 16px
      +rmin(992)
        font-size: 18px

    &-title
      padding-bottom: 20px
      font-weight: 600

    &-text
      padding-bottom: 20px
      line-height: 1.5

    &-btn
      display: flex
      align-items: center
      justify-content: center
      width: 119px
      height: 40px
      border-radius: 3px
      border: 1px solid rgba($colorGrey, 0.1)
      background-color: transparent
      font-family: "SFUIText", "Arial", sans-serif
      font-weight: 600
      +transition(color, border-color, background-color)
      +rmin(320)
        font-size: 14px
      +rmin(1200)
          font-size: 16px

      &:hover
        color: $colorWhite
        border-color: $colorAlizarin
        background-color: $colorAlizarin
        +transition(color, border-color, background-color)
  // end BLOCK
// ===============