// COPYRIGHT :: START

.copyright
  p.copyright__text.wow.wowFadeUp(data-animation-delay="0.65s")!= "@ 2018. All rights reserved"
  i.icon.icon-secured.wow.wowFadeUp(data-animation-delay="0.7s")


// COPYRIGHT :: END