// LICENSE :: START

.license
  p.license__text!= "<span>License:</span> International FX Brokers (Pty) Ltd Registration No 2017/282704/07 is an Issuer of CFDs and acts as counterparty to client transactions. Our distribution and market conduct regulated by the Financial Services Board (Authorized Financial Service Provider number 48021). The issuance of CFD’s is regulated by The Financial Markets Act, 2012"

// LICENSE :: END