// MENU :: START

//- variable start
-
  var menuArr = [
    "About Us",
    "Online Trading",
    "Learn",
    "Partnership",
    "Info Centre"
  ];
  var menuHref = [
    "about.html",
    "onlineTrading.html",
    "learn.html",
    "partnership.html",
    "infoCentre.html"
  ];
//- variable end

mixin menuItem(count)
  li.menu__item.wow.wowFadeDown(
    menu-js,
    class!= (i === count) ?"is-active": ""
  )
    a(href!= menuHref[i], title!="", class!="menu__link")!= menuArr[i]

.menu
  ul.menu__list
    -for(var i = 0, len = menuArr.length; i < len; i++)
      if(bodyClass === "about" && i === 0)
        +menuItem(0)
      else if (bodyClass === "onlineTrading" && i === 1)
        +menuItem(1)
      else if (bodyClass === "learn" && i === 2)
        +menuItem(2)
      else if (bodyClass === "partnership" && i === 3)
        +menuItem(3)
      else if (bodyClass === "infoCentre" && i === 4)
        +menuItem(4)
      else
        +menuItem("")

// MENU :: END