// MENU :: START

//- variable start
-
  var menuArr = [
    "About Us",
    "Online Trading",
    "Learn",
    "Partnership",
    "Info Centre"
  ];
//- variable end

.menu
  ul.menu__list
    -for(var i = 0, len = menuArr.length; i < len; i++)
      li.menu__item.wow.wowFadeDown(
        menu-js,
        class!=""
        data-animation-delay!= (0.4 + parseFloat(0.1 * i)).toFixed(1) + "s"
      )
        a(href="#", title!="", class!="menu__link")!= menuArr[i]

// MENU :: END