// SIGN :: START

.sign
  a(href="#", title!="", class="sign__link wow wowFadeDown" data-animation-delay="0.5s")!= "Webtrader"
  a(href="#", title!="", class="sign__link wow wowFadeDown" data-animation-delay="0.4s")!= "Sign in"
  a(href="#", title!="", class="sign__btn wow wowFadeDown" data-animation-delay="0.3s")!= "Start Trading Now"

// SIGN :: END