// SIGN :: START

.sign
  a(href="#", title!="", class="sign__link wow wowFadeDown" )!= "Webtrader"
  a(href="#", title!="", class="sign__link wow wowFadeDown")!= "Sign in"
  a(href="#", title!="", class="sign__btn wow wowFadeDown")!= "Start Trading Now"

// SIGN :: END