// SIGN :: START

.sign
  .sign__link.wow.wowFadeDown
    a(href="#", title!="", class="sign__link")!= "Webtrader"

  .sign__link.wow.wowFadeDown
    a(href="#", title!="", class="sign__link")!= "Sign in"

  a(href="#", title!="", class="sign__btn wow wowFadeDown")!= "Start Trading Now"

// SIGN :: END