// SIGN :: START

.sign
  a(href="#", title!="", class="sign__link")!= "Webtrader"
  a(href="#", title!="", class="sign__link")!= "Sign in"
  a(href="#", title!="", class="sign__btn")!= "Start Trading Now"

// SIGN :: END