// WARNING :: START

.warning
  p.warning__text!= "<span>Risk Warning:</span> Contracts for Difference (CFDs) are intricate financial products traded on margin with elevated risk levels. Please be aware that you could lose all of or more than your invested capital. It is important to consider the risks associated with CFDs, your objectives and your trading experience, and to determine whether trading in these products is appropriate for your financial situation. Please download our Risk Disclosure Notice and pursue independent advice if required. IFX does not offer financial advice. <a href='#'>Download Risk Disclosure Notice</a>"

// WARNING :: END