$sprite: (
	accordion-arrow: (
		offset-x: -380px,
		offset-y: -120px,
		width: 10px,
		height: 8px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	android: (
		offset-x: -236px,
		offset-y: -100px,
		width: 22px,
		height: 26px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	apple: (
		offset-x: -282px,
		offset-y: -246px,
		width: 20px,
		height: 24px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	approve: (
		offset-x: -377px,
		offset-y: -293px,
		width: 13px,
		height: 8px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	arrow-menu: (
		offset-x: -70px,
		offset-y: -294px,
		width: 12px,
		height: 8px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	arrow: (
		offset-x: -312px,
		offset-y: -246px,
		width: 17px,
		height: 11px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	autochartist-0: (
		offset-x: -268px,
		offset-y: -143px,
		width: 60px,
		height: 60px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	autochartist-1: (
		offset-x: -268px,
		offset-y: -73px,
		width: 60px,
		height: 60px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	autochartist-2: (
		offset-x: 0px,
		offset-y: -316px,
		width: 61px,
		height: 50px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	autochartist-3: (
		offset-x: -268px,
		offset-y: 0px,
		width: 63px,
		height: 63px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	autochartist-4: (
		offset-x: -400px,
		offset-y: 0px,
		width: 50px,
		height: 52px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	autochartist-5: (
		offset-x: -71px,
		offset-y: -316px,
		width: 59px,
		height: 49px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	autochartist-6: (
		offset-x: 0px,
		offset-y: -246px,
		width: 60px,
		height: 60px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	autochartist-7: (
		offset-x: -96px,
		offset-y: -100px,
		width: 60px,
		height: 57px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-0: (
		offset-x: -94px,
		offset-y: 0px,
		width: 80px,
		height: 80px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-1: (
		offset-x: 0px,
		offset-y: -100px,
		width: 86px,
		height: 59px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-2: (
		offset-x: -184px,
		offset-y: 0px,
		width: 74px,
		height: 78px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-3: (
		offset-x: -80px,
		offset-y: -169px,
		width: 70px,
		height: 65px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-4: (
		offset-x: -160px,
		offset-y: -169px,
		width: 70px,
		height: 64px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-5: (
		offset-x: 0px,
		offset-y: 0px,
		width: 84px,
		height: 90px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-6: (
		offset-x: 0px,
		offset-y: -169px,
		width: 70px,
		height: 67px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-7: (
		offset-x: -341px,
		offset-y: 0px,
		width: 49px,
		height: 70px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	benefit-8: (
		offset-x: -166px,
		offset-y: -100px,
		width: 60px,
		height: 56px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	bitcoin: (
		offset-x: -165px,
		offset-y: -246px,
		width: 107px,
		height: 24px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	blockquote: (
		offset-x: -400px,
		offset-y: -120px,
		width: 42px,
		height: 37px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	clock: (
		offset-x: -236px,
		offset-y: -136px,
		width: 18px,
		height: 18px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	close: (
		offset-x: -240px,
		offset-y: -206px,
		width: 17px,
		height: 17px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	complaint: (
		offset-x: -341px,
		offset-y: -233px,
		width: 29px,
		height: 28px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	compliment: (
		offset-x: -341px,
		offset-y: -195px,
		width: 29px,
		height: 28px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	corner: (
		offset-x: -240px,
		offset-y: -169px,
		width: 18px,
		height: 27px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	decline: (
		offset-x: -377px,
		offset-y: -271px,
		width: 12px,
		height: 12px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	email: (
		offset-x: -244px,
		offset-y: -376px,
		width: 20px,
		height: 14px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	info-center-0: (
		offset-x: -341px,
		offset-y: -80px,
		width: 30px,
		height: 30px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	info-center-1: (
		offset-x: -268px,
		offset-y: -213px,
		width: 32px,
		height: 19px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	info-center-2: (
		offset-x: -341px,
		offset-y: -271px,
		width: 26px,
		height: 30px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	info-center-3: (
		offset-x: -400px,
		offset-y: -332px,
		width: 30px,
		height: 30px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	info-center-4: (
		offset-x: -341px,
		offset-y: -120px,
		width: 29px,
		height: 29px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	logo: (
		offset-x: -70px,
		offset-y: -246px,
		width: 85px,
		height: 38px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	mc: (
		offset-x: 0px,
		offset-y: -376px,
		width: 53px,
		height: 41px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	payFast: (
		offset-x: -154px,
		offset-y: -376px,
		width: 80px,
		height: 23px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	paypal: (
		offset-x: -63px,
		offset-y: -376px,
		width: 81px,
		height: 23px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	pdf: (
		offset-x: -400px,
		offset-y: -62px,
		width: 37px,
		height: 48px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	phone: (
		offset-x: -400px,
		offset-y: -167px,
		width: 34px,
		height: 34px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	playVideo: (
		offset-x: -400px,
		offset-y: -211px,
		width: 32px,
		height: 32px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	plus: (
		offset-x: -310px,
		offset-y: -213px,
		width: 19px,
		height: 19px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	right-corner: (
		offset-x: -440px,
		offset-y: -332px,
		width: 9px,
		height: 13px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	skrill: (
		offset-x: -140px,
		offset-y: -316px,
		width: 70px,
		height: 37px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	streamlining: (
		offset-x: -341px,
		offset-y: -159px,
		width: 32px,
		height: 26px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	visa: (
		offset-x: -303px,
		offset-y: -316px,
		width: 77px,
		height: 25px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	web: (
		offset-x: -400px,
		offset-y: -253px,
		width: 32px,
		height: 32px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	wide: (
		offset-x: -400px,
		offset-y: -295px,
		width: 34px,
		height: 27px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
	wire: (
		offset-x: -220px,
		offset-y: -316px,
		width: 73px,
		height: 27px,
		total-width: 450px,
		total-height: 417px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-accordion-arrow {
		@include sprite(accordion-arrow)
	}
	.icon-android {
		@include sprite(android)
	}
	.icon-apple {
		@include sprite(apple)
	}
	.icon-approve {
		@include sprite(approve)
	}
	.icon-arrow-menu {
		@include sprite(arrow-menu)
	}
	.icon-arrow {
		@include sprite(arrow)
	}
	.icon-autochartist-0 {
		@include sprite(autochartist-0)
	}
	.icon-autochartist-1 {
		@include sprite(autochartist-1)
	}
	.icon-autochartist-2 {
		@include sprite(autochartist-2)
	}
	.icon-autochartist-3 {
		@include sprite(autochartist-3)
	}
	.icon-autochartist-4 {
		@include sprite(autochartist-4)
	}
	.icon-autochartist-5 {
		@include sprite(autochartist-5)
	}
	.icon-autochartist-6 {
		@include sprite(autochartist-6)
	}
	.icon-autochartist-7 {
		@include sprite(autochartist-7)
	}
	.icon-benefit-0 {
		@include sprite(benefit-0)
	}
	.icon-benefit-1 {
		@include sprite(benefit-1)
	}
	.icon-benefit-2 {
		@include sprite(benefit-2)
	}
	.icon-benefit-3 {
		@include sprite(benefit-3)
	}
	.icon-benefit-4 {
		@include sprite(benefit-4)
	}
	.icon-benefit-5 {
		@include sprite(benefit-5)
	}
	.icon-benefit-6 {
		@include sprite(benefit-6)
	}
	.icon-benefit-7 {
		@include sprite(benefit-7)
	}
	.icon-benefit-8 {
		@include sprite(benefit-8)
	}
	.icon-bitcoin {
		@include sprite(bitcoin)
	}
	.icon-blockquote {
		@include sprite(blockquote)
	}
	.icon-clock {
		@include sprite(clock)
	}
	.icon-close {
		@include sprite(close)
	}
	.icon-complaint {
		@include sprite(complaint)
	}
	.icon-compliment {
		@include sprite(compliment)
	}
	.icon-corner {
		@include sprite(corner)
	}
	.icon-decline {
		@include sprite(decline)
	}
	.icon-email {
		@include sprite(email)
	}
	.icon-info-center-0 {
		@include sprite(info-center-0)
	}
	.icon-info-center-1 {
		@include sprite(info-center-1)
	}
	.icon-info-center-2 {
		@include sprite(info-center-2)
	}
	.icon-info-center-3 {
		@include sprite(info-center-3)
	}
	.icon-info-center-4 {
		@include sprite(info-center-4)
	}
	.icon-logo {
		@include sprite(logo)
	}
	.icon-mc {
		@include sprite(mc)
	}
	.icon-payFast {
		@include sprite(payFast)
	}
	.icon-paypal {
		@include sprite(paypal)
	}
	.icon-pdf {
		@include sprite(pdf)
	}
	.icon-phone {
		@include sprite(phone)
	}
	.icon-playVideo {
		@include sprite(playVideo)
	}
	.icon-plus {
		@include sprite(plus)
	}
	.icon-right-corner {
		@include sprite(right-corner)
	}
	.icon-skrill {
		@include sprite(skrill)
	}
	.icon-streamlining {
		@include sprite(streamlining)
	}
	.icon-visa {
		@include sprite(visa)
	}
	.icon-web {
		@include sprite(web)
	}
	.icon-wide {
		@include sprite(wide)
	}
	.icon-wire {
		@include sprite(wire)
	}
