.ico-accountOpening {
  width: 0.87em;
  height: 1em;
  fill: #F40830;
}
.ico-collaborate {
  width: 1em;
  height: 1em;
  fill: #F40830;
}
.ico-fb {
  width: 0.45em;
  height: 1em;
  fill: #000;
}
.ico-g+ {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-getTrading {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-in {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-ln {
  width: 1.06em;
  height: 1em;
  fill: #000;
}
.ico-pi {
  width: 0.82em;
  height: 1em;
  fill: #000;
}
.ico-pipsqueaks {
  width: 1em;
  height: 1em;
  fill: #F40830;
}
.ico-smallPrint {
  width: 1.68em;
  height: 1em;
  fill: #F40830;
}
.ico-tw {
  width: 1.22em;
  height: 1em;
  fill: #000;
}
