$sprite: (
	android: (
		offset-x: -163px,
		offset-y: -48px,
		width: 22px,
		height: 26px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	apple: (
		offset-x: -150px,
		offset-y: -95px,
		width: 20px,
		height: 24px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	approve: (
		offset-x: -50px,
		offset-y: -179px,
		width: 13px,
		height: 8px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	arrow: (
		offset-x: -181px,
		offset-y: -146px,
		width: 17px,
		height: 11px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	bitcoin: (
		offset-x: -95px,
		offset-y: 0px,
		width: 107px,
		height: 24px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	blockquote: (
		offset-x: -212px,
		offset-y: 0px,
		width: 42px,
		height: 37px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	corner: (
		offset-x: 0px,
		offset-y: -179px,
		width: 18px,
		height: 27px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	decline: (
		offset-x: -28px,
		offset-y: -179px,
		width: 12px,
		height: 12px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	logo: (
		offset-x: 0px,
		offset-y: 0px,
		width: 85px,
		height: 38px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	mc: (
		offset-x: 0px,
		offset-y: -95px,
		width: 53px,
		height: 41px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	payFast: (
		offset-x: -91px,
		offset-y: -146px,
		width: 80px,
		height: 23px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	paypal: (
		offset-x: 0px,
		offset-y: -146px,
		width: 81px,
		height: 23px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	plus: (
		offset-x: -180px,
		offset-y: -95px,
		width: 19px,
		height: 19px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	skrill: (
		offset-x: 0px,
		offset-y: -48px,
		width: 70px,
		height: 37px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	streamlining: (
		offset-x: -212px,
		offset-y: -126px,
		width: 32px,
		height: 26px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	visa: (
		offset-x: -63px,
		offset-y: -95px,
		width: 77px,
		height: 25px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	web: (
		offset-x: -212px,
		offset-y: -47px,
		width: 32px,
		height: 32px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	wide: (
		offset-x: -212px,
		offset-y: -89px,
		width: 34px,
		height: 27px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
	wire: (
		offset-x: -80px,
		offset-y: -48px,
		width: 73px,
		height: 27px,
		total-width: 254px,
		total-height: 206px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-android {
		@include sprite(android)
	}
	.icon-apple {
		@include sprite(apple)
	}
	.icon-approve {
		@include sprite(approve)
	}
	.icon-arrow {
		@include sprite(arrow)
	}
	.icon-bitcoin {
		@include sprite(bitcoin)
	}
	.icon-blockquote {
		@include sprite(blockquote)
	}
	.icon-corner {
		@include sprite(corner)
	}
	.icon-decline {
		@include sprite(decline)
	}
	.icon-logo {
		@include sprite(logo)
	}
	.icon-mc {
		@include sprite(mc)
	}
	.icon-payFast {
		@include sprite(payFast)
	}
	.icon-paypal {
		@include sprite(paypal)
	}
	.icon-plus {
		@include sprite(plus)
	}
	.icon-skrill {
		@include sprite(skrill)
	}
	.icon-streamlining {
		@include sprite(streamlining)
	}
	.icon-visa {
		@include sprite(visa)
	}
	.icon-web {
		@include sprite(web)
	}
	.icon-wide {
		@include sprite(wide)
	}
	.icon-wire {
		@include sprite(wire)
	}
