$sprite: (
	accordion-arrow: (
		offset-x: -369px,
		offset-y: -98px,
		width: 10px,
		height: 8px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	android: (
		offset-x: -268px,
		offset-y: -156px,
		width: 22px,
		height: 26px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	apple: (
		offset-x: -296px,
		offset-y: -192px,
		width: 20px,
		height: 24px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	approve: (
		offset-x: -367px,
		offset-y: -199px,
		width: 13px,
		height: 8px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	arrow: (
		offset-x: -300px,
		offset-y: -156px,
		width: 17px,
		height: 11px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-0: (
		offset-x: -94px,
		offset-y: 0px,
		width: 80px,
		height: 80px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-1: (
		offset-x: 0px,
		offset-y: -100px,
		width: 86px,
		height: 59px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-2: (
		offset-x: -184px,
		offset-y: 0px,
		width: 74px,
		height: 78px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-3: (
		offset-x: -80px,
		offset-y: -169px,
		width: 70px,
		height: 65px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-4: (
		offset-x: -160px,
		offset-y: -169px,
		width: 70px,
		height: 64px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-5: (
		offset-x: 0px,
		offset-y: 0px,
		width: 84px,
		height: 90px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-6: (
		offset-x: 0px,
		offset-y: -169px,
		width: 70px,
		height: 67px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-7: (
		offset-x: -268px,
		offset-y: 0px,
		width: 49px,
		height: 70px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	benefit-8: (
		offset-x: -96px,
		offset-y: -100px,
		width: 60px,
		height: 56px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	bitcoin: (
		offset-x: 0px,
		offset-y: -246px,
		width: 107px,
		height: 24px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	blockquote: (
		offset-x: -327px,
		offset-y: -51px,
		width: 42px,
		height: 37px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	clock: (
		offset-x: -240px,
		offset-y: -169px,
		width: 18px,
		height: 18px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	corner: (
		offset-x: -268px,
		offset-y: -192px,
		width: 18px,
		height: 27px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	decline: (
		offset-x: -367px,
		offset-y: -177px,
		width: 12px,
		height: 12px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	email: (
		offset-x: -250px,
		offset-y: -280px,
		width: 20px,
		height: 14px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	info-center-0: (
		offset-x: -327px,
		offset-y: -177px,
		width: 30px,
		height: 30px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	info-center-1: (
		offset-x: -327px,
		offset-y: -296px,
		width: 32px,
		height: 19px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	info-center-2: (
		offset-x: -268px,
		offset-y: -116px,
		width: 26px,
		height: 30px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	info-center-3: (
		offset-x: -327px,
		offset-y: -217px,
		width: 30px,
		height: 30px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	info-center-4: (
		offset-x: -327px,
		offset-y: -257px,
		width: 29px,
		height: 29px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	logo: (
		offset-x: -166px,
		offset-y: -100px,
		width: 85px,
		height: 38px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	mc: (
		offset-x: -327px,
		offset-y: 0px,
		width: 53px,
		height: 41px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	payFast: (
		offset-x: -208px,
		offset-y: -246px,
		width: 80px,
		height: 23px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	paypal: (
		offset-x: -117px,
		offset-y: -246px,
		width: 81px,
		height: 23px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	plus: (
		offset-x: -298px,
		offset-y: -246px,
		width: 19px,
		height: 19px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	skrill: (
		offset-x: 0px,
		offset-y: -280px,
		width: 70px,
		height: 37px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	streamlining: (
		offset-x: -268px,
		offset-y: -80px,
		width: 32px,
		height: 26px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	visa: (
		offset-x: -163px,
		offset-y: -280px,
		width: 77px,
		height: 25px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	web: (
		offset-x: -327px,
		offset-y: -98px,
		width: 32px,
		height: 32px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	wide: (
		offset-x: -327px,
		offset-y: -140px,
		width: 34px,
		height: 27px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
	wire: (
		offset-x: -80px,
		offset-y: -280px,
		width: 73px,
		height: 27px,
		total-width: 380px,
		total-height: 317px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-accordion-arrow {
		@include sprite(accordion-arrow)
	}
	.icon-android {
		@include sprite(android)
	}
	.icon-apple {
		@include sprite(apple)
	}
	.icon-approve {
		@include sprite(approve)
	}
	.icon-arrow {
		@include sprite(arrow)
	}
	.icon-benefit-0 {
		@include sprite(benefit-0)
	}
	.icon-benefit-1 {
		@include sprite(benefit-1)
	}
	.icon-benefit-2 {
		@include sprite(benefit-2)
	}
	.icon-benefit-3 {
		@include sprite(benefit-3)
	}
	.icon-benefit-4 {
		@include sprite(benefit-4)
	}
	.icon-benefit-5 {
		@include sprite(benefit-5)
	}
	.icon-benefit-6 {
		@include sprite(benefit-6)
	}
	.icon-benefit-7 {
		@include sprite(benefit-7)
	}
	.icon-benefit-8 {
		@include sprite(benefit-8)
	}
	.icon-bitcoin {
		@include sprite(bitcoin)
	}
	.icon-blockquote {
		@include sprite(blockquote)
	}
	.icon-clock {
		@include sprite(clock)
	}
	.icon-corner {
		@include sprite(corner)
	}
	.icon-decline {
		@include sprite(decline)
	}
	.icon-email {
		@include sprite(email)
	}
	.icon-info-center-0 {
		@include sprite(info-center-0)
	}
	.icon-info-center-1 {
		@include sprite(info-center-1)
	}
	.icon-info-center-2 {
		@include sprite(info-center-2)
	}
	.icon-info-center-3 {
		@include sprite(info-center-3)
	}
	.icon-info-center-4 {
		@include sprite(info-center-4)
	}
	.icon-logo {
		@include sprite(logo)
	}
	.icon-mc {
		@include sprite(mc)
	}
	.icon-payFast {
		@include sprite(payFast)
	}
	.icon-paypal {
		@include sprite(paypal)
	}
	.icon-plus {
		@include sprite(plus)
	}
	.icon-skrill {
		@include sprite(skrill)
	}
	.icon-streamlining {
		@include sprite(streamlining)
	}
	.icon-visa {
		@include sprite(visa)
	}
	.icon-web {
		@include sprite(web)
	}
	.icon-wide {
		@include sprite(wide)
	}
	.icon-wire {
		@include sprite(wire)
	}
