.ico-accountOpening {
  width: 0.87em;
  height: 1em;
  fill: #F40830;
}
.ico-collaborate {
  width: 1em;
  height: 1em;
  fill: #F40830;
}
.ico-getTrading {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-pipsqueaks {
  width: 1em;
  height: 1em;
  fill: #F40830;
}
.ico-smallPrint {
  width: 1.68em;
  height: 1em;
  fill: #F40830;
}
